@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: none;
}

::selection {
  background-color: #125b5c;
  color: white;
}

body {
  font-family: 'Sora', sans-serif;
  cursor: url(../public/assets/cursor/cursor.png), auto;
}

Link,
video {
  cursor: pointer;
}